<table id="header" cellpadding="0" cellspacing="0">
  <tr>
    <td style="text-align: left; padding: 0 42px;"><a href="/"><img src="/images/logo.gif" width="229" height="104" alt="" /></a></td>
    <td style="width: 375px; vertical-align: top; text-align: right; background: url(/images/leafTop.gif) no-repeat right top; padding-right: 6px;">&nbsp;</td>
  </tr>
</table>