<ul id="nav">
  <li><a href="/services/"><img src="/images/services.gif" width="45" height="7" alt="Services" /></a></li>
  <li><a href="/gallery/"><img src="/images/gallery.gif" width="39" height="7" alt="Gallery" /></a></li>
  <li><a href="/testimonials/"><img src="/images/testimonials.gif" width="71" height="7" alt="Testimonials" /></a></li>
  <li><a href="/kate/"><img src="/images/kate.gif" width="23" height="7" alt="Kate" /></a></li>
</ul>