<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title>Kate Badger Special Events - Testimonials</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta name="author" content="P. Barrett Little" />
	<link rel="stylesheet" type="text/css" href="/stylesheets/screen.css" />
</head>
<body>
    <div id="wrapper">
      <%= erb(:'/shared/header') %>
        <table id="content" cellpadding="0" cellspacing="0">
            <tr>
                <td style="padding: 10px 20px 10px 18px; border-bottom: solid 1px #CABC8F; border-right: solid 1px #CABC8F;">
                  <%= erb(:'/shared/navigation') %>
                    <h4>Testimonials</h4>
                    <p>&#8220;Everyone kept telling me how beautiful everything was and how much fun they had - the best wedding most had been to!&#8221;&nbsp;&nbsp;<strong style="color: #AD976F;">- Melanie Chavez</strong></p>
                    <p>&#8220;You did such an incredible job on all the arrangements, ceremony flowers, bouquets, and welcoming board.  You are so talented Kate.  I just could not get over how incredibly beautiful everything was.  Chad and I just had the best time at the wedding...&#8221;&nbsp;&nbsp;<strong style="color: #AD976F;">- Maya Coudsi</strong></p>
                    <p>&#8220;It was exactly what we wanted - a wedding we will always be happy to remember, as will our guests... Kate Badger is the only person to be complimented.  She is an extremely talented event planner and a true pleasure to work with.&#8221;&nbsp;&nbsp;<strong style="color:#AD976F;">- Chris and Melissa Murn</strong></p>
                    <p>&#8220;Logan and I want to thank you so much
                    for everything you have done for us over the past
                    year.  I think I had the most fun any bride could
                    have while planning a wedding.  It is amazing to
                    think that everything was exactly as I imagined.
                    As soon I talked to you the first time I 
                    knew you were the one to create the wedding of my dreams.  I want to
                    thank you for the absolute best night of my life, it never would have
                    happened without you! You made the most perfect wedding, my family is
                    still talking about it, and I will remember it always.&#8221;&nbsp;&nbsp;<strong style="color:#AD976F;">- Jennifer Marshall</strong></p>
                </td>
                <td style="background-color: #E8F4DC;">
                <img style="border-bottom: solid 1px #CABC8F; border-right: solid 1px #CABC8F;" src="/images/emmaandgene.jpg" width="409" height="375" alt="" />
                    <p class="credit"><a href="http://www.dpestudios.com" target="_blank">Photograph by David Edwards Photography</a></p>
                    <img style="padding: 0 10px 0 9px;" src="/images/quotes/quote_augustine.gif" width="390" height="50" alt="" />
                </td>
            </tr>
        </table>
        <table id="footer" cellpadding="0" cellspacing="0">
            <tr>
                <td style="border-right: solid 1px #CABC8F;"><img src="/images/leafFooter.gif" width="340" height="96" alt="" /></td>
                <td style="width: 410px; vertical-align: top;">&nbsp;
                </td>
            </tr>
        </table>
    </div>
  </body>
</html>