<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
  	<title>Kate Badger Special Events</title>
  	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  	<meta name="description" content="" />
  	<meta name="keywords" content="" />
  	<meta name="author" content="P. Barrett Little" />
  	<link rel="stylesheet" type="text/css" href="/stylesheets/screen.css" />
  </head>
  <body>
    <div id="wrapper">
      <%= erb(:'/shared/header') %>
      <table id="content" cellpadding="0" cellspacing="0">
        <tr>
          <td style="padding: 10px 20px 10px 18px; border-bottom: solid 1px #CABC8F; border-right: solid 1px #CABC8F;">
            <%= erb(:'/shared/navigation') %>
            <p>Kate Badger Special Events is a full-service event coordination and floral design company. Whether you are planning an intimate gathering at home for 60 or a destination wedding weekend for 300, the details can sometimes be overwhelming. Kate combines both her experience and creativity to make your event seamless, imaginative, and fun. An event coordinator should never be a luxury-it's a necessity.</p>
            <p>We provide services ranging from simple peace-of-mind during the weekend of the wedding right down to peonies in the perfect shade of pink. The confidence of knowing that every detail is taken care of is worth a million dollars!</p>
          </td>
          <td style="background-color: #E8F4DC;"><img style="border-bottom: solid 1px #CABC8F; border-right: solid 1px #CABC8F;" src="/images/shemain.jpg" width="409" height="375" alt="" /></td>
        </tr>
      </table>
      <table id="footer" cellpadding="0" cellspacing="0">
        <tr>
          <td style="border-right: solid 1px #CABC8F;"><img src="/images/leafFooter.gif" width="340" height="96" alt="" /></td>
          <td style="width: 410px; vertical-align: top;">
            <p class="credit"><a href="http://www.artofvision.net" target="_blank">Photograph by Art of Vision</a></p>
            <img src="/images/quotes/quote_gibran.gif" width="390" height="50" alt="" />
          </td>
        </tr>
      </table>
    </div>
  </body>
</html>