<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title>Kate Badger Special Events - Services</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta name="author" content="P. Barrett Little" />
	<link rel="stylesheet" type="text/css" href="/stylesheets/screen.css" />
</head>
<body>
    <div id="wrapper">
      <%= erb(:'/shared/header') %>
        <table id="content" cellpadding="0" cellspacing="0">
            <tr>
                <td style="padding: 10px 20px 10px 18px; border-bottom: solid 1px #CABC8F; border-right: solid 1px #CABC8F;">
                  <%= erb(:'/shared/navigation') %>
                    <h4><a href="/services/coordination/">Full Service Coordination</a></h4>
                    <p>We will help you determine whether a historic home or moss draped plantation is the perfect ... <a href="/services/coordination/">more &raquo;</a></p>
                    <h4><a href="/services/weekend/">Wedding Weekend</a></h4>
                    <p>You've already selected the caterer, the programs are printed, and the band's instruments are ... <a href="/services/weekend/">more &raquo;</a></p>
                    <h4><a href="/services/design/">Floral and Event Design</a></h4>
                    <p>It's all in the details. Let's find your personal style and let it set the tone. Color schemes used in ... <a href="/services/design/">more &raquo;</a></p>
                </td>
                <td style="background-color: #E8F4DC;"><img style="border-bottom: solid 1px #CABC8F; border-right: solid 1px #CABC8F;" src="/images/placeholders.jpg" width="409" height="375" alt="" /></td>
            </tr>
        </table>
        <table id="footer" cellpadding="0" cellspacing="0">
            <tr>
                <td style="border-right: solid 1px #CABC8F;"><img src="/images/leafFooter.gif" width="340" height="96" alt="" /></td>
                <td style="width: 410px; vertical-align: top;">
                  <p class="credit"><a href="http://www.artofvision.net" target="_blank">Photograph by Art of Vision</a></p>
                  <img src="/images/quotes/quote_cather.gif" width="390" height="50" alt="" />
                </td>
            </tr>
        </table>
    </div>
  </body>
</html>