<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title>Kate Badger Special Events - Wedding Weekend</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta name="author" content="P. Barrett Little" />
	<link rel="stylesheet" type="text/css" href="/stylesheets/screen.css" />
</head>
<body>
    <div id="wrapper">
      <%= erb(:'/shared/header') %>
        <table id="content" cellpadding="0" cellspacing="0">
            <tr>
                <td style="padding: 10px 20px 10px 18px; border-bottom: solid 1px #CABC8F; border-right: solid 1px #CABC8F;">
                  <%= erb(:'/shared/navigation') %>
                    <h4>Wedding Weekend</h4>
                    <p>You've already selected the caterer, the programs are printed, and the band's instruments are tuned, now you need someone to make sure your vision comes true.</p>
                    <p>For those that have done their legwork, this package allows you to relax and enjoy the day.</p>
                    <p>We'll greet your vendors, place your linens, make sure the chairs are in line, your boutonierres are pinned on, your band knows your first song, the photographer is ready and waiting on you to cut the cake and you know when to walk down the aisle!</p>
                    <p><a href="/services/">&laquo; Back to Services</a></p>
                </td>
                <td style="background-color: #E8F4DC;"><img style="border-bottom: solid 1px #CABC8F; border-right: solid 1px #CABC8F;" src="/images/partysteps.jpg" width="409" height="375" alt="" /></td>
            </tr>
        </table>
        <table id="footer" cellpadding="0" cellspacing="0">
            <tr>
                <td style="border-right: solid 1px #CABC8F;"><img src="/images/leafFooter.gif" width="340" height="96" alt="" /></td>
                <td style="width: 410px; vertical-align: top;">
                    <p class="credit"><a href="http://www.charlestumbleston.com" target="_blank">Photograph by Charles Tumbleston Photography</a></p>
                    <img src="/images/quotes/quote_franken.gif" width="390" height="50" alt="" />
                </td>
            </tr>
        </table>
    </div>
  </body>
</html>